* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --darkGreen: #2e3633; /* Verde oscuro */
    --purpleGray: #56455b; /* Púrpura grisáceo */
    --softGray: #7e767b; /* Gris suave */
    --lightPurple: #cfb1d0; /* Púrpura claro */
    --palePink: #efdef0; /* Rosa pálido */
    --gradient1: linear-gradient(130deg, #2e3633, #56455b); /* Verde oscuro a púrpura grisáceo */
    --gradient1-pale: linear-gradient(130deg, #7e767b, #cfb1d0); /* Gris suave a púrpura claro */
    --gradient2: linear-gradient(130deg, #56455b, #cfb1d0); /* Púrpura grisáceo a púrpura claro */
    --gradient3: linear-gradient(130deg, #2e3633, #7e767b); /* Verde oscuro a gris suave */
    --white: #ffffff; /* Blanco puro */
    --red: #ff4d4d; /* Rojo brillante */
    --black: #1a1a1a; /* Negro suave */
}

body {
    background: var(--gradient3);
}

header {
    background: var(--gradient1);
    color: var(--white);
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header button{
    width: 100px;
    margin-top: 20px;
}

p {
    font-weight: 200;
    font-size: 14px;
}

strong {
    font-weight: 500;
}

h1 {
    color: var(--white);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
}

h2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    background: var(--lightPurple);
    /*Establecer el fondo del texto */
    -webkit-background-clip: text;
    /* Clip del fondo en el texto para WebKit */
    background-clip: text;
    /* Propiedad estándar para otros navegadores */
    -webkit-text-fill-color: transparent;
    /* Hacer que el texto sea transparente para WebKit*/
}

a {
    color: var(--white);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
    padding: 28px 30px;
    
}

article{
    border-radius: 13px;
    padding: 30px 18px 18px 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
    color: var(--white);
    border: 1px solid ;
    overflow: hidden;
}

button,
.button {
    font-family:  sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    background: var(--gradient2);
    width: 100%;
    padding: 9px;
    border-radius: 8px;
    border: none;
    height: 42px;
    transition: 0.3s;
}

button:hover,
.button:hover {
    background: var(--gradient1-pale); /* Efecto hover con gris suave a púrpura claro */
    cursor: pointer;
}

article div:first-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 200;
}

main {
    margin-bottom: 60px;
}

footer {
    position: relative;
    width: 100%;
    padding: 20px;
    color: var(--white);
    background: var(--gradient1);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer h3 {
    padding-bottom: 4px;
}


#linkedin-icon {
    margin: 0; /* Elimina márgenes del contenedor */
    padding: 0; /* Elimina paddings del contenedor */
    display: flex; /* Asegura un diseño limpio */
    justify-content: center; /* Centra el ícono horizontalmente */
    align-items: center; /* Centra el ícono verticalmente */
  }

#linkedin-icon img {
  width: 20px; /* Tamaño del ícono */
  height: 20px;
  margin-top: 10px;
  transition: transform 0.3s ease; /* Transición suave al pasar el ratón */
}


#linkedin-icon img:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.book div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
}

.book div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.book img {
    width: 180px;
    border-radius: 10px;
}

.button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    width: 100%;
    text-align: center;
}

#logIn, #logOut {
    color: var(--white);
}

#listName {
    color: var(--white);
    text-align: center;
}

#divBack,
#divUser {
    display: block;
    text-align: center;
    width: 100%;
}

#back {
    width: 280px;
}

/*---------------- Spinner (foro)---------------- */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient1);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

.hide{
    display: none;
}

/* -------------------- POPUP -------------------- */

.popup {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gradient1);
    z-index: 1000;
    /* Asegura que el popup esté encima */
}

.popup-content {
    color: var(--white);
    background: var(--gradient1);
    margin: 15% auto;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    position: relative;
}

.popup-content h2{
    background-color: var(--gradient1);
    padding-top: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--darkGreen);
}

form label, form > input  {
    margin-top: 18px;
}

.popup-content div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
}

.close:hover,
.close:focus {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

.warning {
    color: var(--red);
    font-weight: 600;
    padding-top: 12px;
}

/* Filtros */
.filtros-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: var(--gradient1);
    border-radius: 10px;
    margin: 20px;
}

.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.filtro label {
    font-size: 12px;
    color: var(--white);
}

.filtro select,
.filtro input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--darkGreen);
    font-size: 14px;
}

.reset-button {
    margin-top: auto;
    width: 80px; /* Ajusta el ancho */
    height: 35px; /* Ajusta la altura */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    padding: 5px; /* Espaciado interno reducido */
    border-radius: 5px; /* Bordes redondeados */
}

/* Media Queries */

@media (min-width: 700px) {
    main,
    header {
        padding-left: 40px;
        padding-right: 40px;
    }

    header {
        flex-direction: row;
    }

    header div {
        width: 100%;
    }

    header button {
        margin-top: 0px;
    }

    footer {
        position: relative;
        text-align: center;
        bottom: 0;
        margin-top: 20px;
    }

    section {
        flex-direction: row;
    }

    article {
        width: 220px;
        justify-content: space-between;
    }

    #logIn:hover, #logOut:hover {
        cursor: pointer;
        color: var(--purpleGray);
        background: var(--gradient1-pale);
        width: 140px;
    }

    #signUp:hover {
        cursor: pointer;
        background: var(--gradient1-pale);
        width: 140px;
    }

    button:hover,
    .button:hover {
        font-size: 14.5px;
        cursor: pointer;
        background: var(--gradient1-pale);
        width: 100%;
    }

}